<div>
  <select onchange={{action "setSelection" value="target.value"}}>
  <option disabled selected> -- Select type -- </option>
      <option value="inauthor">Author</option>
      <option value="subject">Genre</option>
  </select>
</div>

<div>
  <label for="Book Title"></label>
  <input type="text" id="Book Title" name="Book Title"><br>
  <button type="button" id="myButtonID"> SEARCH</button>
</div>

<div class="page-title">
  <h3>Books</h3>
</div>
<div id="bookdiv">
  {{#each this.model as |book| }}
    <div class="books">
    {{book.title }}
    <br>
    {{book.author}}
    <br>
    {{book.pageCount}}
    <br>
    {{book.genre}}
    <br>
    {{book.maturityRating}}
    <br>
    <img src={{book.thumbnail}} alt="thumbnail"/>
    <br><br>
    </div>
  {{/each}}
</div>
{{outlet}}