
<div class="page-title">
  <h3>Book Recommender</h3>
</div>
<div id="head">
<div>
  <select id="attselect" onchange={{action "setSelection" value="target.value"}}>
  <option disabled selected> -- Select filter -- </option>
      <option value="inauthor">Author</option>
      <option value="subject">Genre</option>
  </select>
</div>

<div>
  <label for="userInput"></label>
  <Input
    @class="searchbar"
    @id="userInput"
    @type="text"
    @value={{this.userInput}}
    @enter={{action "search"}}
    />
</div>
</div>
<div id="bookdiv">
  <div id="tophr">
    <hr>
  </div>
  {{#each this.model as |book| }}
    <div id="test">
    <div class="books">
    <div id=imgdiv>
    <img src={{book.thumbnail}} alt="thumbnail" class="bookimg"/>
    </div>
    <div id="booktext">
    {{book.title }}
    <br>
    {{book.author}}
    <br>
    Page Count: {{book.pageCount}}
    <br>
    Genre: {{book.genre}}
    <br>
    {{book.maturityRating}}
    <br>
    </div>
    </div>
    </div>
    <div id="hrdiv">
    <hr>
    </div>
    <br>
  {{/each}}
</div>
{{outlet}}