<div>
  <style>
  #myButtonId {
    /* Center-align the text */
    text-align: center;
    /* Set the cursor to be a pointer */
    cursor: pointer;
}
</style>
  <label for="Book Title"></label>
  <input type="text" id="Book Title" name="Book Title"><br>
  <button id="myButtonID"> SEARCH</button>
</div>

<div class="page-title">
  <h3>Books</h3>
</div>
<div id="bookdiv">
  {{#each this.model as |book| }}
    <div class="books">
    {{book.title }}
    <br>
    {{book.author}}
    <br>
    {{book.length}}
    <br>
    {{book.genre}}
    <br>
    {{book.mature}}
    <br>
    <img src={{book.thumbnail}} alt="thumbnail"/>
    <br><br>
    </div>
  {{/each}}
</div>
{{outlet}}