<div class="page-title">
  <img src="/assets/images/logo.png" id="logo" alt="owlImg"/>
</div>
<div id="head">
  <div>
    <select class="text" id="attselect" onchange={{action "setSelection" value="target.value"}}>
    <option disabled selected> -- Select filter -- </option>
        <option value="inauthor">Author</option>
        <option value="subject">Genre</option>
    </select>
  </div>

  <div>
    <label for="userInput"></label>
    <Input
      @class="text searchbar"
      @placeholder="Author or Genre"
      @id="userInput"
      @type="text"
      @value={{this.userInput}}
      @enter={{action "search"}}
      />
      {{#if this.filterError}}
        <p class="text error">{{this.filterError}}</p>
      {{/if}}
  </div>
</div>

  <div id="tophr">
    <hr>
  </div>
  {{#each this.model as |book| }}
    <div class="book">
      {{#if book.thumbnail}}
        <img src={{book.thumbnail}} alt="thumbnail" class="bookimg"/>
      {{else}}
        <img src="/assets/images/noThumbnail.png" id="blankThumbnail" alt="blankThumbnail"/>
      {{/if}}
      <div id="booktext">
        {{#if book.title}}
          <p class="text title">{{book.title}}</p>
        {{/if}}
        {{#if book.author}}
          <p class="text author">by {{book.author}}</p>
        {{/if}}
        {{#if book.pageCount}}
          <p class="text"><b>Page Count:</b> {{book.pageCount}}</p>
        {{/if}}
        {{#if book.genre}}
          <p class="text"><b>Genre:</b> {{book.genre}}</p>
        {{/if}}
        {{#if book.maturityRating}}
          <p class="text"><b>Rated:</b> {{book.maturityRating}}</p>
        {{/if}}
      </div>
    </div>
    <div id="hrdiv">
      <hr>
    </div>
    <br>
  {{/each}}

{{outlet}}